.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px 15px;
	background: antiquewhite;
	color: black;
	font-size: 1.5rem;
	font-weight: 500;

	@media (max-width: 650px) {
		width: 100%;
	}
}
