.cell_wrapper {
	position: relative;
	z-index: 1000;
	width: 48px;
	height: 48px;
}

.cell_wrapper.highlighted {
	opacity: 0.5;
}

.cell {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: rotate(90deg);
	border: 0.33px solid black;
}

.cell_red {
	background-color: red;
}

.cell_white {
	background-color: aliceblue;
}

.cell_blue {
	background-color: blue;
	scale: 1.01;
}