.user_welcome {
	position: absolute;
	z-index: 100;
	background-color: rgb(10, 9, 9);
	top: 40%;
	left: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px 30px;
	gap: 1.5rem;

	width: 500px;

	border-radius: 10px;

	@media (max-width: 950px) {
		width: 400px;
		left: 25%;
	}

	@media (max-width: 650px) {
		width: 300px;
		left: 25%;
	}

	@media (max-width: 450px) {
		width: 250px;
		left: 15%;
	}

	h2 {
		font-weight: 600;
		font-size: 2rem;
		color: antiquewhite;
		text-align: center;

		@media (max-width: 950px) {
			font-size: 1.5rem;
		}
		@media (max-width: 650px) {
			font-size: 1.2rem;
		}
	}

	header {
		position: absolute;
	}
}

.btn_container {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	width: 100%;

	@media (max-width: 650px) {
		flex-direction: column;
	}
}

.left_top_btn {
	position: absolute;
	z-index: 1000;
	top: 50px;
	left: 30px;
}